* {
  margin: 0;
  padding: 0;
  /* border:  1px solid red; */
}

h2 {
  margin-bottom: 10px;
}

li {
  list-style-type: none;
  margin: 5px auto;
}

.criminalList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.criminalList > div {
  /* background: gray; */
  padding: 1em;
  /* flex-grow: 1; */
  flex-basis: 25%;
  margin-bottom: 10px;
  border: 1px solid gray;
  border-radius: 15px;
}
